InformationSatellite/InformationSatellite/packages/Data.Warehouse.Crawler.1.0.1/src/Data.Warehouse.Crawler/obj/
InformationSatellite/InformationSatellite/.vs/
InformationSatellite/InformationSatellite/obj/
InformationSatellite/InformationSatellite/packages/Data.Warehouse.Crawler.1.0.1/[Content_Types].xml
InformationSatellite/InformationSatellite/artifacts/obj/
InformationSatellite/SatelliteTest/SatelliteTest/SatelliteTest/bin/Debug/
InformationSatellite/SatelliteTest/SatelliteTest/SatelliteTest/obj/
InformationSatellite/InformationSatellite/packages/Data.Warehouse.1.0.7/src/Data.Warehouse/obj/
*.txt
InformationWarehouse/InformationWarehouse/packages/Data.Warehouse.1.0.6/src/Data.Warehouse/obj/
InformationWarehouse/InformationWarehouse/packages/Data.Warehouse.1.0.7/src/Data.Warehouse/obj/
InformationSatellite/SatelliteTest/packages/Data.Web.1.0.0/src/Data.Web/obj/
InformationSatellite/SatelliteTest/packages/Data.Web.1.0.0/src/Data.Web/bin/
InformationWarehouse/InformationWarehouse/packages/Data.Warehouse.Crawler.1.0.5/src/Data.Warehouse.Crawler/obj/
InformationSatellite/SatelliteTest/packages/Data.Warehouse.Crawler.1.0.4/src/Data.Warehouse.Crawler/obj/
InformationSatellite/SatelliteTest/packages/Data.Warehouse.Crawler.1.0.4/src/Data.Warehouse.Crawler/bin/
InformationSatellite/SatelliteTest/packages/Data.Warehouse.1.0.5/src/Data.Warehouse/obj/
InformationSatellite/SatelliteTest/packages/Data.Mining.1.0.0/src/Data.Mining/obj/
InformationSatellite/SatelliteTest/SatelliteTest/obj/
InformationSatellite/SatelliteTest/SatelliteTest/bin/
InformationSatellite/InformationSatellite/packages/Data.Warehouse.Crawler.1.0.5/src/Data.Warehouse.Crawler/obj/
InformationSatellite/SatelliteTest/packages/Data.Warehouse.Crawler.1.0.8/src/Data.Warehouse.Crawler/obj/
InformationSatellite/SatelliteTest/packages/Data.Warehouse.1.0.8/src/Data.Warehouse/obj/
InformationSatellite/SatelliteTest/packages/Data.Web.1.0.1/src/Data.Web/obj/
InformationSatellite/SatelliteTest/packages/Data.Warehouse.1.0.7/src/Data.Warehouse/obj/
ButlerSite/ButlerSite/obj/
ButlerSite/ButlerSite.Tests/obj/
ButlerSite/ButlerSite.Tests/bin/Debug/
InformationSatellite/SatelliteTest/packages/Data.Warehouse.Crawler.1.0.9/src/Data.Warehouse.Crawler/obj/
InformationWarehouse/InformationWarehouse/obj/
InformationSatellite/InformationSatellite/packages/Data.Web.1.0.1/src/Data.Web/obj/
InformationSatellite/InformationSatellite/packages/Data.Warehouse.Crawler.1.0.9/src/Data.Warehouse.Crawler/obj/
InformationWarehouse/InformationWarehouse/packages/Data.Warehouse.1.0.8/src/Data.Warehouse/obj/
InformationWarehouse/InformationWarehouse/packages/Data.Web.1.0.1/src/Data.Web/obj/
InformationSatellite/InformationSatellite/packages/Data.Warehouse.1.0.8/src/Data.Warehouse/obj/
InformationSatellite/SatelliteTest/packages/Data.Warehouse.Crawler.1.0.10/src/Test/obj/
InformationSatellite/InformationSatellite/packages/Data.Web.1.0.2/src/Data.Web/obj/
InformationWarehouse/WarehouseTest/WarehouseTest/obj/
