InformationSatellite/InformationSatellite/packages/Data.Warehouse.Crawler.1.0.1/src/Data.Warehouse.Crawler/obj/
InformationSatellite/InformationSatellite/.vs/
InformationSatellite/InformationSatellite/obj/
InformationSatellite/InformationSatellite/packages/Data.Warehouse.Crawler.1.0.1/[Content_Types].xml
