InformationSatellite/InformationSatellite/packages/Data.Warehouse.Crawler.1.0.1/src/Data.Warehouse.Crawler/obj/
InformationSatellite/InformationSatellite/.vs/
InformationSatellite/InformationSatellite/obj/
InformationSatellite/InformationSatellite/packages/Data.Warehouse.Crawler.1.0.1/[Content_Types].xml
InformationSatellite/InformationSatellite/artifacts/obj/
InformationSatellite/SatelliteTest/SatelliteTest/SatelliteTest/bin/Debug/
InformationSatellite/SatelliteTest/SatelliteTest/SatelliteTest/obj/
InformationSatellite/InformationSatellite/packages/Data.Warehouse.1.0.7/src/Data.Warehouse/obj/
