@using ButlerSite.Models
@model IEnumerable<InformationViewModel>

@if(Model != null)
{
    foreach(var item in Model)
    {            
        if(item.Images != null && item.Images.Any())
        {
            if (item.Uri != null)
            {
              <a href="@item.Uri.AbsoluteUri" target="_blank">
                <image src="@item.Images.First().AbsoluteUri"/>
              </a>
            }
        }
    }
}