@using ButlerSite.Models
@model IEnumerable<InformationViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Ajax.BeginForm("Search", "Home", new AjaxOptions { UpdateTargetId = "SearchResults", HttpMethod = "Post" }))
{
    @Html.TextBox("question")
    <input type="submit" value="Suchen" />
}
<div id="SearchResults">
    @Html.Partial("InformationResult", Model)
</div>

